<h1>
	Add new students
</h1>



<form action="/students" method="post">
	<input type="file" name="students[students]">
	<input type="hidden" id="new_students_token" name="authenticity_token">
	<input type="submit">
</form>