<div class="card">
	<div class="card_field detailed">
		Add new students
	</div>
	<form action="/students" method="post">
		<input type="hidden" id="new_students_token" name="authenticity_token">
		<div class="card_field">
			<textarea name="students[students]">No spaces within a single field, but underscores are ok. Commas and/or spaces can be used to separate fields. For example:
			Student_ID Last, First_name Detention_Count GPA
			123456 Schmoe Joe 11 3.1
			</textarea>
		</div>
		<div class="card_field">
			<input type="submit">
		</div>
	</form>
</div>




<script>
$(document).ready(function() {
	var token = $("meta[name='csrf-token']").attr("content");
	$("#new_students_token").attr("value", token)	
});	
</script>