<h1>
	Add new students
</h1>



<form action="/students" method="post">
	<textarea name="students[students]"></textarea>
	<input type="hidden" id="new_students_token" name="authenticity_token">
	<input type="submit">
</form>


<script>
$(document).ready(function() {
	var token = $("meta[name='csrf-token']").attr("content");
	$("#new_students_token").attr("value", token)	
});	
</script>