<h3>
	All Users
</h3>

<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
<!-- 		<th>Admin?</th>
 -->	</tr>
	<% @users.each do |user| %>
		<tr>
			<th><%= link_to user.first_name, user_path(user) %></th>
			<th><%= user.last_name %></th>
			<th><%= user.email %></th>
<!-- 			<th><% if user.admin %>Yes<% else %>No<% end %></th>
 -->		</tr>	
	<% end %>
</table>