

<div class="card">
	<div class="detailed card_field">
		All Users
	</div>
	<div class="card_field">
		<table class="table-hover">
			<tr>
				<td class="head">First Name</td>
				<td class="head">Last Name</td>
				<td class="head">Email</td>
		<!-- 		<td class="head">Admin?</td>
		 -->	</tr>
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.first_name, user_path(user) %></td>
					<td><%= user.last_name %></td>
					<td><%= user.email %></td>
		<!-- 			<td><% if user.admin %>Yes<% else %>No<% end %></td>
		 -->		</tr>	
			<% end %>
		</table>
	</div>
</div>