<form action="/secrets/edit_code" method="post">
	<input type="hidden" id="new_code_token" name="authenticity_token">
	<input type="text" name="secrets[code]" placeholder="Enter the new code here.">
	<input type="submit">
</form>


<script>
$(document).ready(function() {
	var token = $("meta[name='csrf-token']").attr("content");
	$("#new_code_token").attr("value", token)	
});	
</script>