<form action="/secrets/edit_rules" method="post">
	<input type="hidden" id="new_rules_token" name="authenticity_token">
	<textarea type="text" name="secrets[rules]" placeholder="Enter the new rules here."></textarea>
	<input type="submit">
</form>


<script>
$(document).ready(function() {
	var token = $("meta[name='csrf-token']").attr("content");
	$("#new_rules_token").attr("value", token)	
});
</script>