<div class="card">
	<div class="card_field detailed">
		Edit the rules
	</div>
	<form action="/secrets/edit_rules" method="post">
		<input type="hidden" id="new_rules_token" name="authenticity_token">
		<div class="card_field">
			<textarea type="text" name="secrets[rules]" placeholder="Enter the new rules here."></textarea>
		</div>
		<div class="card_field">
			<input type="submit">
		</div>
	</form>
</div>


<script>
$(document).ready(function() {
	var token = $("meta[name='csrf-token']").attr("content");
	$("#new_rules_token").attr("value", token)	
});
</script>