<div class="card">
		<form action="/secrets/edit_code" method="post">
			<input type="hidden" id="new_code_token" name="authenticity_token">
			<div class="card_field">
				<input type="text" name="secrets[code]" placeholder="Enter the new code here.">
			</div>
			<div class="card_field">
				<input type="submit">
			</div>
		</form>
	</div>
</div>



<script>
$(document).ready(function() {
	var token = $("meta[name='csrf-token']").attr("content");
	$("#new_code_token").attr("value", token)	
});	
</script>